# <span style="color:purple">Python Fundamentals Bootcamp - BONUS LEVEL</span>

#### <br>BONUS OBJECTS
- tuples
- sets
- ranges

#### <br>CHEATCODE
- fstrings

#### <br>LEVEL UP
- scripts

#### <br>FINAL BOSS
- bonus project

## <br><span style="color:teal">tuples

You are already familiar with tuples! You just didn't know they were called that. A tuple follows every function call:

In [1]:
round(489289, -3)

489000

<br>(489289, -3) is a tuple.

<br>A tuple is another Python **iterator**, like a list. An iterator is a collection of items kept in order that can be looped through.
<br><br>A tuple is the same as a list, but it is **immutable**.

<br><br>Tuples are usually designated by parentheses:

In [2]:
my_tuple = (4, 8, 10)
type(my_tuple)

tuple

but, they are technically designated just by having objects separated by commas:

In [3]:
dog_tuple = "beagle", "boxer", "border collie"
type(dog_tuple)

tuple

<br>To make an empty tuple, you have to use parentheses:

In [4]:
empty_t = ()
type(empty_t)

tuple

<br>You can loop through a tuple:

In [5]:
for dog in dog_tuple:
    print(dog)

beagle
boxer
border collie

<br><br>Regular functions will work on tuples:

In [14]:
sum((6, 7, 8))

21

In [7]:
len(dog_tuple)

3

<br>List methods do not work with tuples:

In [8]:
for dog in dog_tuple:
    if "collie" in dog:
        empty_t.append()

AttributeError: 'tuple' object has no attribute 'append'

<br>In fact, tuples don't have methods! Tuples are mostly used behind the scenes in Python, but occasionally you will see one returned to you from a function, so it's good to recognize them.

<br>The function for calculating a T-test for the means of two independent samples returns a fancy tuple with two items. It is found in the **scipy** module.

In [9]:
from scipy.stats import ttest_ind

In [10]:
list_a = [7, 4, 3, 9, 8, 29, 8, 17]
list_b = [8, 10, 14, 28, 26, 18, 17, 17]
answer = ttest_ind(list_a, list_b)

In [11]:
print(answer)

Ttest_indResult(statistic=-1.6991019936393787, pvalue=0.11140195153800304)

<br>You can index a tuple to get the info you need:

In [12]:
stat = answer[0]
p_value = answer[1]
print(stat)
print(p_value)

-1.6991019936393787
0.11140195153800304

<br>**You can always change a tuple to a list to make it easier to work with**:

In [13]:
answer_list = list(answer)
print(answer_list)

[-1.6991019936393787, 0.11140195153800304]

## <br><br><span style="color:teal">sets

**Sets are like unordered lists with no duplicate values.**

They are great for removing duplicates from lists:

In [15]:
num_list = [4, 4, 4, 4, 4, 4, 10]
num_set = set(num_list)
print(num_set)

{10, 4}

You can change them back to lists in the same line of code to quickly remove duplicates from a list:

In [16]:
num_list = [4, 4, 4, 4, 4, 4, 10]
num_list = list(set(num_list))
print(num_list)

[10, 4]

<br>Sets are designated by curly brackets (Python knows it's not a dictionary if you don't include any colons inside), or just by using the set`()` function on a list:

In [17]:
s = {8, 9, 10, 9, 8}
print(s)

{8, 9, 10}

In [18]:
s2 = set([8, 9, 10, 9, 8])
print(s2)

{8, 9, 10}

## <br><span style="color:red">Exercise: sets

Store the following list. This is a list of birds you observed from your window.

In [19]:
bird_obs = ["Mourning Dove", 
            "Red-winged Blackbird", 
            "Red-winged Blackbird", 
            "Red-winged Blackbird", 
            "Mourning Dove", 
            "Mourning Dove", 
            "Northern Cardinal", 
            "Mourning Dove", 
            "Song Sparrow", 
            "Song Sparrow", 
            "Song Sparrow", 
            "American Crow",
            "American Robin", 
            "American Crow",
            "Song Sparrow", 
            "Red-winged Blackbird", 
            "Mourning Dove", 
            "Red-winged Blackbird", 
            "Blue Jay", 
            "Red-winged Blackbird", 
            "Song Sparrow", 
            "Red-winged Blackbird", 
            "Mourning Dove", 
            "Red-winged Blackbird", 
            "European Starling"]

How many total birds did you observe? Write code to find the length of the `bird_obs` list:

In [20]:
len(bird_obs)

25

How many different types of birds did you observe? Write code to turn the `bird_obs` list into a set, and then find the length of that set. Bonus if you can do it in one line of code:

In [21]:
len(set(bird_obs))

8

Which different bird types did you see? Turn the `bird_obs` list into a set, and loop through it, printing out each bird type:

In [22]:
for bird in set(bird_obs):
    print(bird)

Blue Jay
European Starling
Song Sparrow
American Crow
Red-winged Blackbird
Mourning Dove
Northern Cardinal
American Robin

In [23]:
print(set(bird_obs))

{'Blue Jay', 'European Starling', 'Song Sparrow', 'American Crow', 'Red-winged Blackbird', 'Mourning Dove', 'Northern Cardinal', 'American Robin'}

#### <br>Check to see if a list even has any duplicates

In [24]:
len(bird_obs) == len(set(bird_obs))

False

## <br><br><span style="color:teal">ranges

Another Python iterator! A range is created by the `range()` function. It is used to create a collection of integers in order so that you can loop through it.

The `range()` function takes 2 or 3 arguments: which integer to start with, which integer to end with, and how many integers to iterate by between numbers. If you do not provide the third argument, the range will iterate by 1.

<br>If you run the function alone, it will return the range object:

In [25]:
range(1, 10, 2)

range(1, 10, 2)

<br>This isn't very useful. But, if you loop through the range object, you can do something with each number:

In [26]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

<br>**You can also change the range object into a list to work with it**:

In [27]:
r = list(range(1, 10, 2))
print(r)

[1, 3, 5, 7, 9]

*Note: `range()` does not work with floats, only integers. To create a range of floats, you will need to import the module numpy.*

#### <br>Ranges use commas, not colons

In [28]:
r[1:3]

[3, 5]

In [29]:
for i in range(1:10)

SyntaxError: invalid syntax (3213977562.py, line 1)

<br>Like Python indexing, the stop position is **exclusive** of the number passed as the stop argument:

In [31]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

## <br><span style="color:red">Exercise: range

Write a for loop to print every 20th number from 0 to 400.

In [32]:
for i in range(0, 401, 20):
    print(i)

0
20
40
60
80
100
120
140
160
180
200
220
240
260
280
300
320
340
360
380
400

#### <br>Use range on the length of a list

In [39]:
list_x = [6, 5, 4, 6, 7, 5, 4, 8, 9, 7]
for i in range(0, len(list_x), 2):
    print(list_x[i])

6
4
7
4
9

## <br><br><span style="color:teal">fstrings

We are going to cover how to **build strings out of variables and strings**. This is a very common task in Python.

#### Some examples:

**Building filenames**

In [40]:
old_filename = "myfile"
new_filename = old_filename + "_ver2"
print(new_filename)

myfile_ver2

**Reporting results**

In [41]:
size_list = [5.4, 8.4, 9.2, 4.7, 8.8]
print("The mean size is " + str(sum(size_list)/len(size_list)) + ".")

The mean size is 7.3.

**Creating unique identifiers**

In [42]:
run_num = "6"
condition = "control"
date = "010420"
ID = run_num + "_" + condition + "_" + date
print(ID)

6_control_010420

<br><br>Over the years, Python has introduced several methods to make this a shorter process than using the `+` between the strings and variables. Each new method has made the process a little bit shorter, but also still had some common errors that were easy for people to make.

<br><br>The latest solution prevents these common user errors by moving the variable names into the string. These are called **fstrings**.

### <br>fstring syntax

In [43]:
old_filename = "myFile"
version = 2
new_filename = f"{old_filename}_ver{version}"
print(new_filename)

myFile_ver2

<br>fstrings begin with the letter `f` followed by the opening quotation mark. <br>You can use either a single or double quotation mark, just like with an ordinary string.
<br>Do not put a space between `f` and the first `"`.

<br> Variable names now go inside the the curly brackets inside the string.

The string ends with the closing quotation mark.

<br>Here's an example using single quotation marks:

In [44]:
new_filename = f'{old_filename}_ver{version}'
print(new_filename)

myFile_ver2

<br>And here's an example with a space between the `f` and the first `"`:

In [45]:
new_filename = f "{old_filename}_ver{version}"
print(new_filename)

SyntaxError: invalid syntax (2201814917.py, line 1)

# <br><br>fstring examples and practice exercises

## <br><br>Example 1

In [46]:
name = "Colby"
adj = "adventurous"

#### <br>Old way:

In [47]:
hb = "Happy Birthday, " + name + "! Have an " + adj + " day."
print(hb)

Happy Birthday, Colby! Have an adventurous day.

#### <br>fstring:

In [48]:
hb = f"Happy Birthday, {name}! Have an {adj} day."
print(hb)

Happy Birthday, Colby! Have an adventurous day.

<br><br>*NOTE: If you want to include curly brackets in a string, you can surround them with another set of curly brackets.*

In [50]:
hb = f"Happy Birthday, {{{name}}}! Have a {adj} day. {{}}"
print(hb)

Happy Birthday, {Colby}! Have a adventurous day. {}

### <br><br>Exercise 1

First run this cell:

In [51]:
animal = "rabbit"
month = "January"
day = 22
year = 2023

<br>Now write an fstring to print: The year of the rabbit will begin on January 22, 2023.

In [54]:
sentence = f"The year of the {animal} will begin on {month} {day}, {year}."
print(sentence)

The year of the rabbit will begin on January 22, 2023.

<br><br><br><br>Did you notice anything interesting about how numbers were handled in that exercise?

In [55]:
count = 3.5

#### <br>Old way

In [56]:
print("Yesterday I ate " + count + " cookies.")

TypeError: can only concatenate str (not "float") to str

<br><br>We would have to explicitly change `count` to a string in order to include it in the string:

In [57]:
print("Yesterday I ate " + str(count) + " cookies.")

Yesterday I ate 3.5 cookies.

#### <br><br>fstring

An fstring automatically changes any integer or float to a string:

In [58]:
print(f"Yesterday I ate {count} cookies.")

Yesterday I ate 3.5 cookies.

## <br><br><br><br>Example 2

fstrings aren't only for variables!!

In [59]:
f"Eat {6 + 5} kiwis."

'Eat 11 kiwis.'

In [60]:
f"Eat {2**10 / (13-3)} kiwis."

'Eat 102.4 kiwis.'

In [61]:
kiwi_piles = [10, 9, 13, 7]
f"Eat {sum(kiwi_piles)} kiwis."

'Eat 39 kiwis.'

In [65]:
kiwi_dreams = "one hundred"
f"Eat {kiwi_dreams.upper()} kiwis. {kiwi_dreams}."

'Eat ONE HUNDRED kiwis. one hundred.'

### <br><br>Exercise 2

In [66]:
name = "Colby"
count = 11

I said I ate 11 kiwis, but you saw me eat 3 more kiwis in secret. Change the code below to reflect the truth:

In [69]:
print(f"{name} ate {count + 3} kiwis.")

Colby ate 14 kiwis.

## <br><br><br>Example 3

Let's see how fstrings handle lists.

In [70]:
cookies = ["Oreo", "snickerdoodle", "oatmeal chocolate chip"]

In [71]:
print(f"The cookies I ate were {cookies}.")

The cookies I ate were ['Oreo', 'snickerdoodle', 'oatmeal chocolate chip'].

<br><br>Instead we can index the items in the list:

In [72]:
print(f"The cookies I ate were {cookies[0]}, {cookies[1]}, and {cookies[2]}.")

The cookies I ate were Oreo, snickerdoodle, and oatmeal chocolate chip.

<br><br>Sometimes we don't know how many items will be in a list.

Let's review list indexing and the `join()` function.

In [73]:
cookies = ["Oreo", "snickerdoodle", "oatmeal chocolate chip"]

<br>Before running the cells below, take a minute to think - what will these print?

In [74]:
cookies[1:]

['snickerdoodle', 'oatmeal chocolate chip']

In [75]:
cookies[:-1]

['Oreo', 'snickerdoodle']

<br><br>If we don't specify an index after the `:` if will print to the end.

If we don't specify an index before the `:` if will print from the beginning.

<br><br>The `join()` function is handy for creating a string out of a list of unknown length.

In [76]:
", ".join(cookies)

'Oreo, snickerdoodle, oatmeal chocolate chip'

<br>Combine `join()` with indexing:

In [77]:
", ".join(cookies[:-1])

'Oreo, snickerdoodle'

<br><br>Now we can combine that to make a nice, neat sentence:

In [78]:
print(f"The cookies I ate were {", ".join(cookies[:-1])}, and {cookies[-1]}.")

SyntaxError: f-string: expecting '}' (3916060474.py, line 1)

<br><br><br>Uh-oh! When referencing a string inside a string (like at the beginning of the join() function), use single quotes `'` inside double quotes `"`.

In [79]:
print(f"The cookies I ate were {', '.join(cookies[:-1])}, and {cookies[-1]}.")

The cookies I ate were Oreo, snickerdoodle, and oatmeal chocolate chip.

### <br><br>Exercise 3

In [92]:
name = "Colby"
grades = [85, 89, 87, 82, 83, 10]

<br>Write an fstring to say Dear Colby, Your exam grades were 85, 89, 87, and 83, and your participation grade was 10.

*Note:* `join()` can't implicitly join integers into a string. You have three options:
<br>- Beginner: index the grades individually in your fstring.
<br>- Intermediate: Before the `letter` variable assignment, write a for loop to change all the items in `grades` to strings.
<br>- Advanced: Use a list comprehension to change the grades to strings inside the `join()` function inside the fstring.

In [93]:
letter = f"Dear {name}, Your exam grades were {grades[0]}, {grades[1]}, {grades[3]}, and {grades[3]}, and your participation grade was {grades[4]}."
print(letter)

Dear Colby, Your exam grades were 85, 89, 82, and 82, and your participation grade was 83.

In [94]:
grades_str = []
for i in grades:
    grades_str.append(str(i))
letter2 = f"Dear {name}, Your exam grades were {', '.join(grades_str[:-2])} and {grades_str[-2]}, and your participation grade was {grades[-1]}."
print(letter2)

Dear Colby, Your exam grades were 85, 89, 87, 82 and 83, and your participation grade was 10.

In [95]:
letter3 = f"Dear {name}, Your exam grades were {', '.join([str(i) for i in grades[:-2]])} and {grades[-2]}, and your participation grade was {grades[-1]}."
print(letter3)

Dear Colby, Your exam grades were 85, 89, 87, 82 and 83, and your participation grade was 10.

In [81]:
"".join(("bumble", "bee"))

'bumblebee'

In [82]:
"".join((8,8))

TypeError: sequence item 0: expected str instance, int found

## <br><br>Example 4

Let's practice using fstrings with dictionaries.

Here is a **list of dictionaries** with info about six experiments:

In [97]:
results_list = [{"run": 1, "date": "013020", "condition": "control", "result": 1.3849}, 
                {"run": 1, "date": "013020", "condition": "cold", "result": .8309},
                {"run": 2, "date": "013020", "condition": "control", "result": 1.1384},
                {"run": 2, "date": "013020", "condition": "cold", "result": 1.0867},
                {"run": 3, "date": "013020", "condition": "control", "result": .8479},
                {"run": 3, "date": "013020", "condition": "cold", "result": .7238}]

<br>We want to create a results file for each experiment. (So we need to loop through the list.)<br>To create a unique identifier for each result, we will combine the condition, run number, and the word "results", in addition to a file extension.

In [98]:
for i in results_list:
    #remember that each i is a dictionary
    new_filename = f"{i['condition']}_{i['run']}_results.txt"
    print(new_filename)

control_1_results.txt
cold_1_results.txt
control_2_results.txt
cold_2_results.txt
control_3_results.txt
cold_3_results.txt

### <br><br>Exercise 4

In [99]:
results_dicts = [{"run": 1, "date": "013020", "condition": "control", "result": 1.3849}, 
                 {"run": 1, "date": "013020", "condition": "cold", "result": .8309},
                 {"run": 2, "date": "013020", "condition": "control", "result": 1.1384},
                 {"run": 2, "date": "013020", "condition": "cold", "result": 1.0867},
                 {"run": 3, "date": "013020", "condition": "control", "result": .8479},
                 {"run": 3, "date": "013020", "condition": "cold", "result": .7238}]

For each experiment, print a complete sentence with the date, run, condition, and result. Use the `round()` function to round the result to two decimal places.

The sentence for the first experiment should read: On 013020, I conducted a control experiment; the result from run 1 was 1.38.

In [101]:
for exp in results_dicts:
    print(f'On {exp["date"]}, I conducted a {exp["condition"]} experiment; the result from run {exp["run"]} was {round(exp["result"], 2)}.')

On 013020, I conducted a control experiment; the result from run 1 was 1.38.
On 013020, I conducted a cold experiment; the result from run 1 was 0.83.
On 013020, I conducted a control experiment; the result from run 2 was 1.14.
On 013020, I conducted a cold experiment; the result from run 2 was 1.09.
On 013020, I conducted a control experiment; the result from run 3 was 0.85.
On 013020, I conducted a cold experiment; the result from run 3 was 0.72.

<br>*Don't forget that you need to use single quotes inside double quotes or double quotes inside single quotes.*

#### <br>How to break up a long fstring without new lines to make it more readable when coding

In [103]:
v1 = 10983736
v2 = "Tuesday"

In [110]:
my_fstring = (f"This is a very long string"
f" it is {v1} words long."
f" I won't be done typing it until {v2}.")
print(my_fstring)

This is a very long string it is 10983736 words long. I won't be done typing it until Tuesday.

## <br><br><span style="color:teal">More functions (if we have extra time)

[Link to view a list of all Python built-in functions](https://docs.python.org/3/library/functions.html#all)

Python has 68 built-in functions, including the functions to change the type of an object (`list(), dict(), range(), tuple(), set(), int(), str(), float(), bool()`). We touched on 18 of the 68 functions this week. Many of the others are used only in special cases or for more technical purposes, but some may interest you.
<br><br>We will talk about `any()` and `all()` below. These functions only return a boolean.

<br>[Link to all built-in string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

There are many string methods we didn't get to. Many of these evaluate to a boolean - we will talk about some of them below.

[Link to all built-in list methods](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)

There are a few methods we didn't cover, and they may interest you, so take a look!

## <br><br><span style="color:teal">More conditionals

Conditionals are booleans (True or False) that can be used to filter objects when you use the conditional in an if/elif/else statement.
<br><br>We learned `< > <= >= == !=` and `in`.
<br><br>There are several functions that you can also use in an if statement to help you filter. **These all return only True or False.**

#### String methods

Check out the link above for the full list of string methods, but I will show some of the ones that you can use with if statements. For each function, I'll show one example that evaluates to True and one that evaluates to False.

#### For each line of code, try to guess if it will return True or False:

In [111]:
"peanut butter".endswith("butter")

True

In [112]:
"jelly".endswith("butter")

False

In [113]:
"peanut butter".startswith("peanut")

True

In [114]:
"jelly".startswith("peanut")

False

In [115]:
"peanut butter".isspace()

False

In [116]:
"     ".isspace()

True

In [117]:
"jelly".isalpha()

True

In [118]:
"peanut butter".isalpha()

False

In [119]:
"73117".isdigit()

True

In [120]:
"peanut butter".isdigit()

False

In [121]:
"peanut butter".isupper()

False

In [122]:
"JELLY".isupper()

True

In [123]:
"peanut butter".islower()

True

In [124]:
"JELLY".islower()

False

In [125]:
"Peanut Butter".istitle()

True

In [126]:
"jelly".istitle()

False

<br>Here's an example in a for loop:

In [127]:
for food in ["peanut butter", "jelly"]:
    if food.isalpha():
        print(food)

jelly

#### <br><br>Functions

`any()` and `all()` can be used to combine multiple conditionals into one boolean. 
<br><br>For `any()` to be True, only one conditional in a list needs to be True:

In [128]:
song_list = ["Don't Stop Me Now (Queen)",
             "Dancing Queen (Abba)",
             "Good Vibrations (The Beach Boys)",
             "Uptown Girl (Billie Joel)",
             "Eye of the Tiger (Survivor)",
             "I'm a Believer (The Monkees)",
             "Girls Just Wanna Have Fun (Cyndi Lauper)",
             "Livin' on a Prayer (Jon Bon Jovi)",
             "I Will Survive (Gloria Gaynor)",
             "Walking on Sunshine (Katrina & The Waves)"]

In [129]:
for song in song_list:
    if any([song.startswith("I") and "'" not in song, 
            song.startswith("Don't"),
            song.startswith("Good")]):
        print(song)

Don't Stop Me Now (Queen)
Good Vibrations (The Beach Boys)
I Will Survive (Gloria Gaynor)

<br><br>For `all()` to be True, all the conditionals in a list need to be True:

In [130]:
for song in song_list:
    if all(["Girl" in song, 
            song.istitle(),
            len(song) >= 26]):
        print(song)

Girls Just Wanna Have Fun (Cyndi Lauper)