# Tuesday Quiz

1. Create a list of the following numbers: 35, 28, 48, 21, 61, and 39. Find the mean of these numbers. Print the mean as part of a complete sentence.

In [2]:
import statistics

In [3]:
numbers = [35, 28, 48, 21, 61, 39]

In [10]:
mean_num = statistics.mean(numbers)

In [11]:
print("The mean is " + str(mean_num) + ".")

The mean is 38.666666666666664.

2. Join the following list together into a string. Use a space to separate the items in the list.

In [7]:
song = ["Come", "gather", "'round", "people", "Wherever", "you", "roam"]

In [8]:
" ".join(song)

"Come gather 'round people Wherever you roam"

3. Store the list below. Write a for loop to print out the first letter of each item in the list.

In [9]:
months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", "September", 
          "October", "November", "December"]

In [12]:
for m in months:
    print(m[0])

J
F
M
A
M
J
J
A
S
O
N
D

4. Store the list and empty lists below. Write a for loop to loop through the list `times`. Write an if/elif/else statement to sort the items and append the terms onto the correct lists. *Hint: there are several ways to do this. Here are some ideas that might help: `type()`, `in`, `not in`, `len()`.*

In [16]:
times = ["Tuesday", "June", 8, "July", "Wednesday", 10, "Thursday", 12, "April"]
days = []
months = []
numbers = []

In [14]:
for t in times:
    if type(t) == int:
        numbers.append(t)
    elif "day" in t:
        days.append(t)
    else:
        months.append(t)

OR

In [17]:
for t in times:
    try:
        if len(t) <= 5:
            months.append(t)
        elif len(t) > 5:
            days.append(t)
    except TypeError:
        numbers.append(t)

In [18]:
print(days)
print(months)
print(numbers)

['Tuesday', 'Wednesday', 'Thursday']
['June', 'July', 'April']
[8, 10, 12]

OR any other way that works!