# <br><br><span style="color:rebeccapurple">Python Fundamentals Bootcamp - Tuesday</span>

<br>Yesterday afternoon, we learned more string functions.
All functions have limitations and some work in interesting ways.
<br><br>For example:

In [ ]:
"I'll be there".title()

<br>The L in I'll should not be capitalized, but that's how the function works. For now, don't get too hung up on the limits of a particular function!
<br><br>Tomorrow, we'll walk through how you can use what you've learned (and some logic) to create a work around for the `title()` method.

### <br><br>Today's Objects
- Lists

### Today's Functions
- List functions

### Today's Concepts
- `for` loops
- `if` statements
- basic error handling

## <br><span style="color:teal">Lists

**A list is a collection of objects kept in a strict order. <br>A list is surrounded by square brackets. <br>Items in the list are separated by commas.**

<br><br>A list can contain any type of object:

In [1]:
grades = [93, 75, 80, 98, 100, 64, 88]

*Remember that when we assign variables, nothing is returned.*

In [2]:
students = ["Alex", "Billy", "Casey", "Drake", "Ellis", "Frankie"]

*Notice that using square brackets is all that you need to tell Python that you are creating a list. You do not need to use a function.*

In [3]:
type(students)

list

<br>A list can also contain only one item:

In [4]:
final_grade = [90]

<br>A list can be empty:

In [5]:
new_grades = []

<br>You can even have a list of lists, called a **nested list**:

In [6]:
gradebook = [["Casey", "Taylor", "Lee"], [93, 75, 80]]

### <br><br><span style="color:red">Exercise: List syntax

Create a new variable called `family` and store the names of your family members as a list (or choose your favorite TV family!). Don't forget that each name should be stored as a string.

In [ ]:
print(family)

### <br><br>List functions

Let's learn some list functions. While we're learning list functions, we'll also learn a bit about how the list object works.

As a review, there are two types of functions: 
1. those that take a list as an argument and do something *with* the list
2. methods that follow the list and do something *to* the list

In [7]:
grades = [93, 75, 80, 98, 100, 64, 88]

The `len()` function that we learned with strings also works with lists:

In [8]:
len(grades)

7

<br><br>The `sort()` method:

In [9]:
grades.sort()

Hmm, nothing was returned.

In [10]:
print(grades)

[64, 75, 80, 88, 93, 98, 100]

Uh oh. Our list has changed order. **Unlike strings, list methods can change the list object even if you didn't save the changed object as a new variable.** This is because lists are **mutable** objects, whereas strings, integers, floats, and booleans are **immutable** objects.

<br>*Be careful with list methods, as they will change your object!* We'll talk more about how to get around this later in this lecture. We'll also see why it's useful to have lists be mutable.

<br><br>The `append()` method will add a new item to the end of a list:

In [11]:
students = ["Alex", "Billy", "Casey", "Drake", "Ellis", "Frankie"]

In [12]:
students.append("Gavi")

Just like all objects, you can return the variable value by either just running the name of the variable:

In [13]:
students

['Alex', 'Billy', 'Casey', 'Drake', 'Ellis', 'Frankie', 'Gavi']

Or by printing the variable:

In [14]:
print(students)

['Alex', 'Billy', 'Casey', 'Drake', 'Ellis', 'Frankie', 'Gavi']

<br><br>Regular functions (not methods) will not change your list, because they do something *with* your object, not something *to* your object. The `sum()` function will give you the sum of a list of numbers:

In [15]:
grades = [93, 75, 80, 98, 100, 64, 88]

In [16]:
sum(grades)

598

In [17]:
grades

[93, 75, 80, 98, 100, 64, 88]

<br><br>We can use comparison operators with lists, just like other objects:

In [18]:
students = ["Alex", "Billy", "Casey", "Drake", "Ellis", "Frankie"]
grades = [93, 75, 80, 98, 100, 64, 88]

In [19]:
len(students) == len(grades)

False

In [20]:
len(students) > len(grades)

False

### <br><br><span style="color:red">Exercise: List functions

Run the cell below to store the list `colors`. Write code to append a new color of your choice to the list `colors`. Then write code to return the length of the list.

In [ ]:
colors = ["navy blue", "gold", "silver", "scarlet"]

<br><br>We can use some arithmetic operators with lists:

In [21]:
grades = [93, 75, 80, 98, 100, 64, 88]
more_grades = [70, 93]

In [22]:
grades = grades + more_grades
print(grades)

[93, 75, 80, 98, 100, 64, 88, 70, 93]

In [23]:
grades = grades - more_grades
print(grades)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

<br>You can't subtract lists!

In [27]:
print(grades * 4)

[93, 75, 80, 98, 100, 64, 88, 70, 93, 93, 75, 80, 98, 100, 64, 88, 70, 93, 93, 75, 80, 98, 100, 64, 88, 70, 93, 93, 75, 80, 98, 100, 64, 88, 70, 93]

In [28]:
grades

[93, 75, 80, 98, 100, 64, 88, 70, 93]

### <br><br>List indexing

Indexing works just like it does in strings (the first item is indexed as 0).

In [29]:
students = ["Alex", "Billy", "Casey", "Drake", "Ellis", "Frankie"]

In [30]:
students[0]

'Alex'

In [31]:
students[-2]

'Ellis'

In [32]:
students[1:4]

['Billy', 'Casey', 'Drake']

<br>We can change the value of individual items in a list using indexing.

In [33]:
students

['Alex', 'Billy', 'Casey', 'Drake', 'Ellis', 'Frankie']

To change Billy to Billie, I can assign the new string "Billie" to "Billy"'s indexed position in the list:

In [34]:
students[1] = "Billie"

In [35]:
students

['Alex', 'Billie', 'Casey', 'Drake', 'Ellis', 'Frankie']

### <br><br><span style="color:red">Exercise: List indexing

Run the code cell below to store the list `states`. Write code to change "Illinois" to "Indiana".

In [ ]:
states = ["Hawaii", "Kentucky", "Illinois", "Iowa"]

In [ ]:
print(states)

<br><br><br>Indexing is a great example that illustrates the difference between a functional language like R and an object oriented language like Python. There is no `replace()` function for lists. Instead, you can use indexing to replace an item in a list...

In [36]:
students = ["Alex", "Billy", "Casey", "Drake", "Ellis", "Frankie"]

In [37]:
students[0] = "Alexis"

In [38]:
students

['Alexis', 'Billy', 'Casey', 'Drake', 'Ellis', 'Frankie']

<br>... or you can use a `for loop` to make lots of different changes to a list, which we will learn later this morning.

### <br><br><span style="color:red">Exercise - Code along to learn more about lists

If you want more practice typing code, follow along with me. Otherwise, just watch me code and try to spot what I do differently between example 1 and example 2.

Example 1

Example 2

<br>**What did we do differently between example 1 and example 2?**

Example 3

## <br><br><span style="color:teal">for loops

Before we start coding with "for loops", let's talk about how they work - **DEMO in the slides**

<br><br>We're going to work with a list of student grades.

In [39]:
grades = [73, 64, 89, 93, 59, 100, 79]

<br>When writing the for loop, the lines **inside** the loop are indented. You can use four spaces or one tab to indent. Jupyter Lab, Google Colab, and many other Python IDEs will automatically change a tab into four spaces. This is because all the indentations in a script have to match - when using **scripts** you can only use all tabs or all spaces or else you'll get an error - so the IDE does the work for you of making everything match as spaces. *However, when writing scripts in a text editor, you'll need to do the work yourself and make sure they all match*. If you ever watched the show Silicon Valley, now you can understand this scene: https://www.youtube.com/watch?v=SsoOG6ZeyUI.

In [40]:
for grade in grades:
    print(grade)

73
64
89
93
59
100
79

*Notice that the items are printed in the same order as the list.*

<br>We can change the name of our temporary variable:

In [41]:
for g in grades:
    print(g)

73
64
89
93
59
100
79

In [42]:
for sandwich in grades:
    print(sandwich)

73
64
89
93
59
100
79

<br>Let's say we want to give each student an extra 5 points:

In [43]:
for g in grades:
    print(g + 5)

78
69
94
98
64
105
84

### <br><br><span style="color:red">Exercise: for loop syntax

Run the following cell to store a list of coding languages.

In [44]:
languages = ["Python", "R", "JavaScript", "Julia", "Swift", "C#", "PHP", "BASIC", "C++", "Java"]

Write a for loop to print each item in the `languages` list.

*Be prepared for the IDE (Jupyter Lab or Google Colab) to automatically indent the line under your for loop.*

#### <br><br>Some common loop errors

Can you see the problem with each of these loops?

In [ ]:
for g in grades:
    print(y)

In [ ]:
for g in grades
    print(g)

In [ ]:
for g in grades:
print(g)

### <br><br>Adding items to an empty list

**<span style="color:crimson">LOGIC** *This is a very common task in Python.*

<br>Let's create a new list of grades, giving everyone 5 extra points. As a reminder, run this cell to see our list of grades:

In [45]:
print(grades)

[73, 64, 89, 93, 59, 100, 79]

First, we create a new **empty list**.

In [46]:
new_grades = []

Then we loop through our original list and **append** the changed items to our new list.

In [47]:
for g in grades:
    new_grades.append(g + 5)

In [48]:
print(new_grades)

[78, 69, 94, 98, 64, 105, 84]

<br>If you are working with more complicated calculations, you will want to be more **explicit** by defining a new variable inside the loop instead of doing the calculations inside the `append()` function:

In [49]:
new_grades = []

In [125]:
for g in grades:
    new_g = round((g + 5) / 100, 2)
    new_grades.append(new_g)

In [126]:
print(new_grades)

[0.78, 0.69, 0.94, 0.98, 0.64, 1.05, 0.84, 0.78, 0.69, 0.94, 0.98, 0.64, 1.05, 0.84]

*Note: Appending items to a list in a for loop wouldn't work if lists were immutable objects like strings!*

<br>There's one more thing we should consider. Go up and rerun the code cell with the `for loop` one more time. Then run the cell where we print the value of `new_grades`. Do this a few times and you'll see that there's a problem. Every time we rerun the loop, it's just adding the new grades to that same list.
<br><br>Because we're not recreating the empty list in the same code cell as the `for loop`, it's easy to forget to rerun the `new_grades = []` cell every time we run our loop. Especially when we're testing out our code. To prevent this, we should include the creation of the empty list in the same code cell as the `for loop`, like this:

In [127]:
new_grades = []
for g in grades:
    new_g = round((g + 5) / 100, 2)
    new_grades.append(new_g)

In [128]:
print(new_grades)

[0.78, 0.69, 0.94, 0.98, 0.64, 1.05, 0.84]

### <br><br><span style="color:red">Exercise: Adding items to an empty list

Store this list of monthly bills that you pay:

In [53]:
bills = [115.46, 70.40, 26.90, 170.83, 1250.00, 65.40]

First, create a new empty list called `rounded_bills`. Then, loop through the list `bills`. **For** each item in the list, **round** the item to the closest whole number and **append** it to the list `rounded_bills`.

In [ ]:
print(rounded_bills)

## <br><br><span style="color:teal">if statements

These are also called **conditional statements** or even **conditionals**.

In [55]:
grades = [73, 64, 89, 93, 59, 100, 79]

We can use a series of if/elif/else statements to perform different actions on grades in different ranges:

In [56]:
for g in grades:
    if g >= 90:
        print(g)
        print("grade is A")
    elif g >= 80:
        print(g)
        print("grade is B")
    elif g >= 70:
        print(g)
        print("grade is C")
    elif g >= 60:
        print(g)
        print("grade is D")
    else:
        print(g)
        print("grade is Fail")

73
grade is C
64
grade is D
89
grade is B
93
grade is A
59
grade is Fail
100
grade is A
79
grade is C

<br>Here we are going to save a new list of grades that only includes grades 60 or higher:

In [57]:
passing_grades = []
for g in grades:
    if g >= 60:
        passing_grades.append(g)
    else:
        pass
print(passing_grades)

[73, 64, 89, 93, 100, 79]

<br>We don't have to explicitly pass if the condition isn't met. *You do not need to include an `else` statement.*

In [58]:
passing_grades = []
for g in grades:
    if g >= 60:
        passing_grades.append(g)
print(passing_grades)

[73, 64, 89, 93, 100, 79]

*Note:* In the code block above, we say the `if statement` is **inside** the `for loop` and the print function is **outside** the `for loop` because the indentation is gone.

<br>We can also stop the loop if a condition is or isn't met:

In [60]:
print(grades)

[73, 64, 89, 93, 59, 100, 79]

In [59]:
for g in grades:
    if g >= 70:
        print("This student is doing ok.")
    else:
        print("I give up. I quit.")
        break

This student is doing ok.
I give up. I quit.

<br>Here I'm switching the order of the last two lines. Take a minute to try and predict what will happen before running the code.

In [61]:
for g in grades:
    if g >= 70:
        print("This student is doing ok.")
    else:
        break
        print("I give up. I quit.")

This student is doing ok.

### <br><br><span style="color:red">Exercise: Writing if statements

Store this list of Therapod dinosaurs (meat eaters that walk on two legs).

In [62]:
therapods = ["Albertosaurus", 
             "Allosaurus", 
             "Baryonyx", 
             "Carnotaurus", 
             "Coelophysis", 
             "Compsognathus", 
             "Deinonychus", 
             "Giganotosaurus", 
             "Megalosaurus", 
             "Ornithomimus", 
             "Oviraptor", 
             "Saurophaganax", 
             "Spinosaurus", 
             "Tyrannosaurus", 
             "Tyrannotitan", 
             "Velociraptor",
             "Yangchuanosaurus"]

*Note: When typing a long list, you can use multiple lines. Try to line up the next line with the first item in the list.*

Loop through the list `therapods`. Use string indexing to check **if** the first letter of the dinosaur's name is equal to T. If it is T, print the dinosaur's name. If it is not T, print "Not T".

### <br><br>New boolean operator

So far we've learned `<` `>` `<=` `>=` `==` and `!=`.

`in` is another Boolean operator. It works for both lists and strings. Take a minute to predict if each boolean statement will return True or False before you run the cell.

In [63]:
"pie" in "pizza pie"

True

In [64]:
"Oreo" in ["Chips Ahoy", "Oreo", "Oatmeal raisin"]

True

In [65]:
cookies = ["Chips Ahoy", "Oreo", "Oatmeal raisin"]
"Oreo" in cookies

True

In [66]:
"oreo" in ["Chips Ahoy", "Oreo", "Oatmeal raisin"]

False

In [67]:
"Ahoy" in "Chips Ahoy"

True

In [68]:
"Ahoy" in ["Chips Ahoy", "Oreo", "Oatmeal raisin"]

False

<br>We can use the `in` comparison operator with if statements.

In [69]:
cookies = ["Chips Ahoy", "Oreo", "Oatmeal raisin"]
for c in cookies:
    if "Ahoy" in c:
        print(c)

Chips Ahoy

<br><br>Let's say we want to give one extra point to anyone who is right on the cusp of getting a better grade:

In [70]:
grades = [73, 64, 89, 93, 59, 100, 79]
grades_to_round = [59, 69, 79, 89]

First, make an empty list to collect the final grades.

In [71]:
final_grades = []

Then, loop through the `grades` list. If the grade is in the `grades_to_round` list, add one point and append the new grade to the final list. If the grade is not in `grades_to_round`, add the original grade to the final list.

In [72]:
for g in grades:
    if g in grades_to_round:
        final_grades.append(g + 1)
    else:
        final_grades.append(g)

In [73]:
print(final_grades)

[73, 64, 90, 93, 60, 100, 80]

<br><br>There's also `not in`:

In [74]:
grades = [73, 64, 89, 93, 59, 100, 79]
grades_to_round = [59, 69, 79, 89]
final_grades = []

In [75]:
for g in grades:
    if g not in grades_to_round:
        final_grades.append(g)
    else:
        final_grades.append(g + 1)

In [76]:
print(final_grades)

[73, 64, 90, 93, 60, 100, 80]

### <br><br><span style="color:red">Exercise: The `in` boolean

Make a list of the toppings you like to eat on your ideal pizza (don't forget to run the cell):

In [ ]:
my_toppings =

Run the cell below to store a list of toppings that are available at the store.

In [77]:
store_toppings = ["pepperoni", 
                  "figs", 
                  "olives", 
                  "pistachios", 
                  "jalapenos", 
                  "mozzarella", 
                  "marscapone", 
                  "tomato sauce", 
                  "garlic", 
                  "mushrooms", 
                  "extra cheese",
                  "tomatoes"]

Create a new empty list called `final_toppings`:

Loop through the `my_toppings` list. If the topping is also in the `store_toppings` list, add it to your `final_toppings`.

In [ ]:
print(final_toppings)

<br>*Bonus question:* If the topping in your list is not available at the store, print out a message telling you that the topping isn't available.

## <br><br><span style="color:teal">Basic error handling

**Short DEMO in the slides.** You will get more practice with try/except this afternoon.

# <br><br><span style="color:rebeccapurple">LUNCH BREAK - meet back at 1 pm Central

## <br><br><span style="color:teal">More fun with lists

<br><br>We are going to use some list functions in this notebook that aren't automatically loaded with Python. They are in a module that is included with Python, called `statistics`.

Run this cell to import the `statistics` module:

In [78]:
import statistics

### <br><br>List functions

We already learned some list functions:

In [79]:
bananas_in_bunches = [4, 9, 7, 4, 3, 6]

<br>`sum()`:

In [80]:
total_bananas = sum(bananas_in_bunches)
print(total_bananas)

33

<br>`len()`:

In [81]:
how_many_bunches = len(bananas_in_bunches)
print(how_many_bunches)

6

<br>`append()`:

In [82]:
new_bunch = 8
bananas_in_bunches.append(new_bunch)
print(bananas_in_bunches)

[4, 9, 7, 4, 3, 6, 8]

<br>`sort()`:

In [83]:
bananas_in_bunches.sort()
print(bananas_in_bunches)

[3, 4, 4, 6, 7, 8, 9]

<br>We can also pass a **keyword argument** to the `sort()` function to reverse the sort order of the list:

In [84]:
bananas_in_bunches.sort(reverse=True)
print(bananas_in_bunches)

[9, 8, 7, 6, 4, 4, 3]

As a reminder, a **keyword argument** is an argument that has a default value. If you want to use something other than the default value, you have to pass the function the keyword with the new value. So for `sort()` the default of the `reverse` argument is `False`. When we want to reverse it, we need to change `reverse` to `True` by passing it as an argument.

<br>**More built-in list functions**

In [85]:
smallest_bunch = min(bananas_in_bunches)
print(smallest_bunch)

3

In [86]:
largest_bunch = max(bananas_in_bunches)
print(largest_bunch)

9

<br><br>As a reminder, to use a function from an imported module, you type the name of the module followed by `.` followed by the name of the function. Let's use `statistics.mean()`:

In [87]:
mean_bunch_size = statistics.mean(bananas_in_bunches)
print(mean_bunch_size)

5.857142857142857

<br>`statistics.median()`:

In [88]:
median_bunch_size = statistics.median(bananas_in_bunches)
print(median_bunch_size)

6

### <br><br><span style="color:red">Lists Exercise 1

<br>Let's practice finding information online. Use Google to search for the correct Python function to calculate standard deviation, and then write the code to find the standard deviation of `bananas_in_bunches`:

In [ ]:
bananas_in_bunches = [4, 9, 7, 4, 3, 6]

### <br><br><br>Joining items in a list into one string

Sometimes you will need to join the items in a list together into a string.

In [89]:
full_name_list = ["Bartholomew", "JoJo", "Simpson"]

The `join()` function is actually a string method. The string you start with is the string that you want to use to connect all the items in the list. Then you pass the list to the function as an argument:

In [90]:
" ".join(full_name_list)

'Bartholomew JoJo Simpson'

In [91]:
"-".join(full_name_list)

'Bartholomew-JoJo-Simpson'

In [92]:
"DOH".join(full_name_list)

'BartholomewDOHJoJoDOHSimpson'

<br>You can use an empty string to connect all the items in the list with nothing in between:

In [93]:
"".join(full_name_list)

'BartholomewJoJoSimpson'

### <br><br><span style="color:red">Lists Exercise 2

In [94]:
path_list = ["Documents", "workshops", "bootcamp", "tuesday", "tuesdayLecture.ipynb"]

Use the join function to combine these words into one string. The words should be separated by a "/" to create a file path.

### <br><br><br>Splitting a string into a list

Another common task is splitting a string into a list. This is also a string method, so let's load a string to practice with:

In [95]:
csv_line = "sample 1,5,24,864,NA,.4556,,,65"

You must pass the `split()` function an argument - what string do you want to use to separate the items for your list. Here we'll use a comma:

In [96]:
csv_line_list = csv_line.split(",")
print(csv_line_list)

['sample 1', '5', '24', '864', 'NA', '.4556', '', '', '65']

### <br><br><span style="color:red">Lists Exercise 3

In [97]:
my_data = "Year: 2005\nYear: 2007\nYear: 2010\nYear: 2011\nYear: 2015"

Run the cell above. We want to turn the string `my_data` into a list of years, without any other text or new lines.
<br><br>First, write code to remove every occurrence of "Year: " from the string. You'll have to remember a string function you learned yesterday:

In [ ]:
my_data_clean = 
print(my_data_clean)

<br>Now, write code to split the string into a list of years:

In [ ]:
year_list = 
print(year_list)

<br>*Challenge:* Change `my_data` into a list of years again, but this time do it in only one line of code:

In [ ]:
year_list = 
print(year_list)

### <br><br>Indexing lists

In [100]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Wednesday", "Friday", "Saturday"]

In [101]:
days[-1]

'Saturday'

In [102]:
days[3]

'Wednesday'

In [103]:
days[:4]

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [105]:
print("Today is " + days[3])

Today is Wednesday

### <br><br><span style="color:red">Lists Exercise 4

In [106]:
months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", "September", 
          "October", "November", "December"]

*Note: When typing a long list, you can use multiple lines. Try to line up the next line with the first item in the list.*

#### <br>Run the line of code above. Use list indexing to answer these questions:

Which month has your favorite holiday?

Which months do you consider to be part of Summer?

What month were you born? Try to print out your answer in a complete sentence that includes your indexed month.

### <br><br>Indexing multiple levels

You can index characters inside a string inside a list. Like this:

In [108]:
name = ["Colby", "Witherup", "Wood"]
print("My first name starts with " + name[0][0] + ".")

My first name starts with C.

In [109]:
name[2][1:3]

'oo'

<br><br>You would use the same style of indexing to index items inside a **nested list**:

In [ ]:
gradebook = [["Casey", "Maya", "Toni", "Mae"], [85, 95, 100, 88]]

Try to guess what will be returned before you run the following cells.

In [ ]:
gradebook[0][-1]

In [ ]:
gradebook[1][3]

In [ ]:
gradebook[0][1][2]

### <br><br><span style="color:red">Lists Exercise 5

Write your own name as a list of your first, middle, and last names (or however many names you have):

In [ ]:
full_name =

Write code to index the last letter of your first name:

<br>You ran an experiment 5 times a day for 3 days. These are your results:

In [110]:
results = [[.001, .455, .789, .765, .602], 
           [.67, .899, .482, .847, .585], 
           [.943, .984, .423, .45, .776]]

<br>What is the value of the very last run on the last day?

<br>What is the minimum value you obtained on the first day of your experiment?

What is the mean of the values you obtained on your second day?

### <br><br>Comparisons between lists

### <br><span style="color:red">Lists Exercise 6

In [ ]:
characters = ["Aang", "Katara", "Sokka", "Zuko", "Iroh", "Toph"]
water_tribe = ["Katara", "Sokka"]

Based on the lists above, will the following booleans evaluate to True or False? Try to answer before running the code to check:

In [ ]:
len(characters) > len(water_tribe) and len(water_tribe) > 3

In [ ]:
"Aang" in water_tribe or "Sokka" not in water_tribe

In [ ]:
characters[3] == water_tribe[1] or characters[0][0] == water_tribe[0][-1]

## <br><br><span style="color:teal">More fun with for loops and if statements

<br>In today's morning lecture, we walked through one common situation you'll use in your own Python code - looping through a list and appending items to a new list. 
<br><br>**<span style="color:crimson">LOGIC** Now we'll work through 4 other common situations you'll encounter. These exercises are about applying logic to solve problems - you already know all the objects, functions, and syntax needed to solve these.

### <br>Example 1 - Doing something with each item in a list

<br>First, let's store a list of the forecasted high temperatures on Northwestern's Qatar campus for this week:

In [111]:
c_temps = [43, 42, 42, 42, 43, 44, 41]

<br>The equation to convert from Celsius to Farenheit is F = C x 9/5 + 32. 
<br>We can write a for loop to convert our `c_temps` to Farenheit:

In [112]:
for temp in c_temps:
    f = temp * (9/5) + 32
    print(f)

109.4
107.60000000000001
107.60000000000001
107.60000000000001
109.4
111.2
105.8

<br>Let's improve this output by rounding the temperatures to one digit past the decimal, and by writing a complete sentence:

In [113]:
for temp in c_temps:
    f = temp * (9/5) + 32
    f2 = round(f, 1)
    print("The high temperature was " + str(f2) + " degrees F (" + str(temp) + " C).")

The high temperature was 109.4 degrees F (43 C).
The high temperature was 107.6 degrees F (42 C).
The high temperature was 107.6 degrees F (42 C).
The high temperature was 107.6 degrees F (42 C).
The high temperature was 109.4 degrees F (43 C).
The high temperature was 111.2 degrees F (44 C).
The high temperature was 105.8 degrees F (41 C).

### <br><span style="color:red">Loops Exercise 1

First, store this list. It contains the world record fastest 5K times for men and women:

In [115]:
fastest5k = [12.5833, 14.1]

<br>5 kilometers is equal to 3.10686 miles.

To convert a runner's 5K time to their 1 mile time, use the equation:
<br>mile_time = fiveK_time / 3.10686

<br>Write a for loop to loop through the `fastest5k` list. Inside the for loop, convert the 5K time to a mile time, round the mile time to two digits after the decimal point, and print the answer in a complete sentence.

### <br><br><br>Example 2 - Using all the items in the list to find one number

This list contains the names of students in your class:

In [118]:
students = ["Eleven", "Dustin", "Mike", "Will", "Lucas", "Max"]

<br>On your classroom wall, you want to spell out all of the students' names with one letter per piece of paper, but you need to know how many pieces of paper you need. Luckily, the `len()` function will tell you how many letters are in each name, but you need to tally up the total.

<br>To do this, you are first going to assign the number zero to a variable:

In [137]:
papers = 0

<br>Next, you can loop through the list, adding the length of each name to your `papers` variable as you go:

In [138]:
for student in students:
    papers = papers + len(student)

Let's see if it worked:

In [139]:
print(papers)

28

<br>This is a common situation that comes up when you're coding, so it's good to practice it now.

<br>Remember the lesson we learned earlier today when we created an empty list in a code cell outside the cell where we wrote our `for loop`? Go up and rerun the cell with our `for loop` and then the cell where we print `papers`.
<br><br>Oops! We forgot to reset `papers` to 0 before rerunning the `for loop`. We should have written the code in one cell:

In [142]:
papers = 0
for student in students:
    papers = papers + len(student)
print(papers)

28

### <br><span style="color:red">Loops Exercise 2

<br>This list contains the dimensions of your new fish tank, in inches:

In [ ]:
tank = [32, 17, 31]

<br>You want to calculate the volume of your fish tank in cubic inches. The equation is length x width x height, but your length, width, and height are stored in your list.

First create a variable called `volume` that contains the number 1. Then, write a for loop to loop through the `tank` list, reassigning the variable `volume` to the product of  each item in the list and `volume`.

Now print the variable `volume`:

In [ ]:
print(volume)

### <br><br><br>Example 3 - Using a for loop with if/elif/else statements to filter the items in a list.

In [143]:
students = ["Eleven", "Dustin", "Mike", "Will", "Lucas", "Max"]

In [144]:
for student in students:
    if student == "Will":
        print(student + " should repeat 7th grade because of absences.")
    elif student == "Eleven":
        print("I'm not sure who this student is, they just showed up one day.")
    else:
        print(student + " can move up to 8th grade.")

I'm not sure who this student is, they just showed up one day.
Dustin can move up to 8th grade.
Mike can move up to 8th grade.
Will should repeat 7th grade because of absences.
Lucas can move up to 8th grade.
Max can move up to 8th grade.

<br>We can add more code under each if/elif/else statement. Let's add the students to the correct empty list:

In [145]:
grade_8 = []
grade_7 = []
unsure = []
for student in students:
    if student == "Will":
        print(student + " should repeat 7th grade because of absences.")
        grade_7.append(student)
    elif student == "Eleven":
        print("I'm not sure who this student is, they just showed up one day.")
        unsure.append(student)
    else:
        print(student + " can move up to 8th grade.")
        grade_8.append(student)

I'm not sure who this student is, they just showed up one day.
Dustin can move up to 8th grade.
Mike can move up to 8th grade.
Will should repeat 7th grade because of absences.
Lucas can move up to 8th grade.
Max can move up to 8th grade.

In [146]:
print("Grade 7:")
print(grade_7)
print("Grade 8:")
print(grade_8)
print("Unsure where to place:")
print(unsure)

Grade 7:
['Will']
Grade 8:
['Dustin', 'Mike', 'Lucas', 'Max']
Unsure where to place:
['Eleven']

### <br><span style="color:red">Loops Exercise 3

*This one will take a little thought.*

In [147]:
grades = [90, 75, 92, 89, 95, 94, 100, 92]

The list `grades` shows the homework grades that one student received over the quarter. You told the students that you would drop their one lowest homework grade.

<br>First, create a new empty list called `final_grades`. Then, write a for loop to loop through `grades`. **For** each grade in the list, **if** the grade is **not equal to** the lowest grade in the list, **append** it to `final_grades`:
<br>*Hint: you can use the min() function to find the lowest grade in the list.*

Print `final_grades`.

### <br><br><br>Example 4: Using try/except to handle unexpected variations in a list

We often need to use try/except if we aren't sure whether all the items in our list are of the correct data type.

In [148]:
test_scores = [90, 95, "absent", 100, 76]

Let's say we want to give an extra 2 points for every test.

In [149]:
bonus_scores = []
for score in test_scores:
    bonus_scores.append(score + 2)
print(bonus_scores)

TypeError: can only concatenate str (not "int") to str

<br>This gave us an error because you can't add the number 2 to the word "absent", so we can rewrite it:

In [150]:
bonus_scores = []
for score in test_scores:
    try:
        bonus_scores.append(score + 2)
    except TypeError:
        bonus_scores.append(score)
print(bonus_scores)

[92, 97, 'absent', 102, 78]

<br>You need to specify the type of error in your except statement.
<br><br>Sometimes this means that you need to run the code without try/except first to get the name of the error you should expect.
<br><br>If you don't include the error type, it will perform the except code for all exceptions, which might seem great, but it can actually create more trouble for you down the road.

In [151]:
test_scores2 = [90, 95, "absent", 100, "76"]

Here we have the same list, except you accidentally entered the last score as a string instead of an integer. Let's try this list with the same code we just wrote:

In [153]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        bonus_scores2.append(score)
print(bonus_scores2)

[92, 97, 'absent', 102, '76']

<br>It didn't add bonus points to the last score, even though you need that score included. Let's try this to account for the last score:

In [154]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        bonus_scores2.append(int(score) + 2)
print(bonus_scores2)

ValueError: invalid literal for int() with base 10: 'absent'

<br>Now we can see that we get a second error, a ValueError, because Python can't convert "absent" to an integer. We can add a second try/except to our code:

In [155]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        try:
            bonus_scores2.append(int(score) + 2)
        except ValueError:
            bonus_scores2.append(score)
print(bonus_scores2)

[92, 97, 'absent', 102, 78]

<br>This was a complicated example, but it shows how it can take some logic to get the results you want.

### <br><span style="color:red">Loops Exercise 4

Store this list of students:

In [156]:
students = ["Dustin", "Mike", "Will", "Lucas", 11, "Max"]

<br>Run the code below to identify the error:

In [158]:
for student in students:
    print(len(student))

6
4
4
5

TypeError: object of type 'int' has no len()

<br>Write a new loop to print the length of each student's name. Include a try/except block. You can decide what you want to do with 11 - pass? print something? change to a string?

## <br><br><br>Tuesday Quiz

On your own, before we meet again for tomorrow's morning lecture, complete the Tuesday Quiz. The Jupyter Notebook file is called "tuesdayQuiz.ipynb" and is in the same folder as this notebook. If you are using Colab, go to <https://colab.research.google.com/github/aGitHasNoName/pythonBootcamp_3Day/blob/main/tuesdayQuiz.ipynb>.

<br>If you have questions about the quiz material, send an email to me or Rahul and we will try our best to reply to all emails before tomorrow's lecture (which starts at 10 am Central on the same Zoom channel as today).
<br><br>As a reminder, the quiz is self-graded - you do not need to turn anything in! The answer key is called "tuesdayQuiz-answers.ipynb". For Colab users, the answer key is at <https://colab.research.google.com/github/aGitHasNoName/pythonBootcamp_3Day/blob/main/tuesdayQuiz-answers.ipynb>.